.option {
	&:hover {
		@mixin light {
			background-color: var(--mantine-color-gray-3);
		}

		@mixin dark {
			color: var(--mantine-color-white);
		}
	}

	&[data-combobox-selected] {
		background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));

		@mixin light {
			color: unset;
		}
	}

	&[data-selected] {
		background-color: light-dark(var(--mantine-color-gray-light-hover), var(--mantine-color-gray-8));
	}
}
