.links {
	--link-height: rem(50px);
}

.month {
	padding-left: var(--mantine-spacing-md);
	padding-right: var(--mantine-spacing-md);
	text-transform: uppercase;
	letter-spacing: rem(5px);
	color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
}

.item {
	padding-left: var(--mantine-spacing-md);
	padding-right: var(--mantine-spacing-md);

	@mixin hover {
		background-color: var(--mantine-color-default-hover);
	}
}

.link {
	color: var(--mantine-color-text);
	line-height: var(--link-height);
	font-size: var(--mantine-font-size-md);
	height: var(--link-height);
	border-left: rem(2px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
	padding-left: var(--mantine-spacing-md);
}

.linkActive {
	color: unset;
}

.date {
	background-color: light-dark(var(--mantine-color-dark-filled), var(--mantine-color-default-color));
	color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-text));

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;

	height: calc(var(--link-height) - var(--mantine-spacing-xs));
	min-width: rem(25px);

	& p {
		line-height: 1.1;
	}
}
