header {
	background-color: light-dark(white, black);
}
body, main, nav {
	background-color: light-dark(#f5f3f2, #191919);
}

:root {
	--fc-button-bg-color: #a10f2b;
	--fc-button-border-color: #a10f2b;
	--fc-button-hover-bg-color: #63091a;
	--fc-button-hover-border-color: #63091a;
}
