.visuallyHidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.timelineRuler {
	height: 0;
	border: none;
	border-top: rem(1px) solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.timelineRulerLeft {
	width: 1rem;
}

.timelineRulerRight {
	flex-grow: 1;
}
