.label {
	color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
	text-shadow: -3px -6px light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-9));
	@media (max-width: 48em) { /*TODO m7-9 https://mantine.dev/styles/responsive/#breakpoints-variables-in-css-modules*/
		font-size: 120px;
	}

	text-align: center;
	line-height: 1;
	user-select: none;
	position: relative;
	z-index: 2;
}

.title {
	@media (max-width: 48em) { /*TODO m7-9*/
		font-size: 32px;
	}
}

.description {
	max-width: rem(540px);
}
