.grid {
	display: grid;
	grid-template-columns: minmax(5%, min-content) 4fr 5fr;
	& [data-slot_item] { /*Replacement for gap to style background*/
		padding-top: rem(3);
		padding-bottom: rem(2);
		&:nth-child(-n+2) {
			padding-right: rem(8);
		}
	}
}

.slotWrapper {
	display: contents;
}

.slotNumber {
	text-align: right;
}

.ownSlot {
	background-color: alpha(var(--mantine-color-yellow-6), 0.1);
}

.ownSlotMarker {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		left: rem(-8);
		width: 2px;
		background-color: var(--mantine-color-yellow-6);
	}
}
