.headerInner {
	height: rem(80); /*This should always be NAV_HEIGHT*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main {
	min-height: calc(100vh - rem(150px)) !important; /*150px is the footer height*/
}

.footer {
	position: unset;
	background-color: unset;
}
