# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

#Sonarlint
sonarlint-state.xml
sonarlint/

#Discord Integration
discord.xml

# GitHub Copilot
copilot.data.migration.*.xml
copilotDiffState.xml
