.element {
	border-radius: var(--mantine-radius-sm);
	position: relative;

	&[data-sorting] {
		background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
		z-index: var(--mantine-z-index-popover);
	}
}
