.list {
	gap: unset;
   /*This number just guesses when the second day wraps. Otherwise the second row also has space between*/
	@media (min-width: 354px) {
		justify-content: space-between;
	}
}

.day {
	&[data-today]:not([data-active]) {
		height: 25px;
		width: 25px;
		background-color: var(--mantine-color-red-8);
		border-radius: 50%;
		@mixin light {
			color: white;
		}
	}
}
